### Arithmetic Operations
* For raise to power = **
* For remainder = %
* Addition = +
* Subtraction = -
* Multiplication = *
* Division = /

### Relational Operators
* Greater than >
* < Less than
* == equal to
* != not equal to
* Greater than equal to >=
* Less than equal to <=
* and - all conditions must be true for true
* or - even one of the conditions can be true for the statement to be true
* not - reverse of statement

For logical operations the answer is always in boolean

In [1]:
5 == 3

False

In [2]:
5 > 3

True

In [3]:
5 != 3

True

Python can compare alphabets on basis of the first alphabet (compares there ascii values)

In [4]:
'sgfg' > 'ufguh'

False

In [5]:
'ghgh' == 'ghgh'

True

In [7]:
'gh' > 'aren'

True

In [8]:
5>3 and 8<3

False

In [9]:
5>3 and not(8<3)

True

### Conditional statements
* If, else, elif (stands for elif)
* if and else will only be used once; for multiple conditions, we keep using elif
* instead of using 'then', in python we use colon

In [15]:
gmat_score = int(input("Enter your gmat score"))
if gmat_score > 750:
    print("You will be admitted to harvard")

Enter your gmat score 76

### Syntax and semantics
* Syntax is the way of writing (keywords/grammar of it)
* semantics (meaning conveyed through it)

###Syntax of if else
* if condition:
*      what should be executed if condition is satisfied

In [37]:
job = "yes" 
if job == "yes":
    print("I will go to USA")

I will go to USA

In [28]:
gpa = float(input("enter your gpa"))
if gpa > 3.5:
    print("My grade will be A")

enter your gpa 3.8

My grade will be A

In [33]:
gpa = float(input("enter your gpa"))
if gpa >= 3.5 and gpa <= 3.7:
    print("My grade will be A-")
else:
    print ("My grade is F")

enter your gpa 78

My grade is F

In [38]:
US_Nationality = "yes"
if US_Nationality == "yes":
    print("I am a US citizen")
else:
    print("I am a Pakistani citizen")

I am a US citizen

Q. 
* elite class > 1000000
* upper class >500000 and <1000000
* Upper middle class >100000 and <500000
* middle class >50000 and <100000
* lower class >

In [42]:
income = int(input("enter your income"))
if income >= 1000000:
    print("elite class")
elif income >=500000 and income <1000000:
    print("upper class")
elif income >=100000 and income <500000:
    print("upper middle class")
elif income >=50000 and income <100000:
    print("middle class")
else:
    print("lower class")

enter your income 7000

lower class

Q. Assign grades on basis of gpa

In [46]:
gpa = float(input("enter gpa:"))
if gpa == 4:
    print("grade = A")
elif gpa >= 3.67 and gpa < 4.0:
    print("grade = A-")
elif gpa >=3.33 and gpa <3.67:
    print("grade = B+")
elif gpa >=3 and gpa <3.33:
    print("grade = B")
elif gpa >=2.7 and gpa <3:
    print("grade = B-")
elif gpa >=2.3 and gpa <2.7:
    print("grade = C")
else:
    print("grade = F")

enter gpa: 7.

grade = F

### Dimensions
Dimension is the amount of points you need to access/get to an object. If you want to move from one dimension to the next, you just have to stack them. 

To make lists, we use square brackets. We use square brackets to call a data value from a list aswell.

Lists is a data type.

In python numbering starts from 0 always.

In [57]:
grocery = ["eggs", "bread", "rice", "dahi", "meat"]
#            0        1       2        3       4      -> index values of the data in the list
type(grocery)

list

In [50]:
grocery[2]    #accessing one value from the list

'rice'

In [52]:
print (grocery)

['eggs', 'bread', 'rice', 'dahi', 'meat']

In [63]:
grocery[2] = 'sugar'   #replacing specific values in the list
print(grocery)

['eggs', 'marshmellow', 'sugar', 'candy', 'meat']

If we want a few values back to back from the list:
list[1:3] - the colon is used as to, and the upper limit is one value more than the one you need, therefore this would read: extract values 1 to 2 from the list

In [59]:
grocery[1:4]

['bread', 'rice', 'dahi']

In [62]:
grocery[1:4] = 'marshmellow', 'cookies', 'candy'
print(grocery)

['eggs', 'marshmellow', 'cookies', 'candy', 'meat']

### Practice Questions

#### Q.1  Write a program that converts Celsius temperatures to Fahrenheit temperatures.

The formula is as follows:

F=95C+32 

The program should ask the user to enter a temperature in Celsius, then display the temperature converted to Fahrenheit.

In [79]:
temp_C = float(input("Enter temperature in celsius"))
temp_F = ((9/5)*temp_C) + 32
print("temperature in fahrenheit: ", temp_F)

Enter temperature in celsius 56

temperature in fahrenheit:  132.8

#### Q.2 Write a program that asks the user for a number in the range of 1 through 7. The pro­gram should display the corresponding day of the week, where 1 = Monday, 2 = Tuesday, 3 = Wednesday, 4 = Thursday, 5 = Friday, 6 = Saturday, and 7 = Sunday. The program should display an error message if the user enters a number that is outside the range of 1 through 7.

In [28]:
Week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
Daynum = int(input("Enter day number"))
if Daynum >=1 and Daynum <=7:
    print(Week[Daynum - 1])
else:
    print("invalid entry")

Enter day number 7

Sunday

#### Q.3 Write a program that asks the user to enter a person’s age. The program should display a message indicating whether the person is an infant, a child, a teenager, or an adult.

Following are the guidelines:

* If the person is 1 year old or less, he or she is an infant.
* If the person is older than 1 year, but younger than 13 years, he or she is a child.
* If the person is at least 13 years old, but less than 20 years old, he or she is a teenager.
* If the person is at least 20 years old, he or she is an adult.

In [29]:
Age = int(input("enter your age"))
if Age <=1:
    print("infant")
elif Age <13 and Age >1:
    print("child")
elif Age <20 and Age >=13:
    print("teenager")
elif Age >=20:
    print("adult")

enter your age 78

adult

#### Q.4 The colors red, blue, and yellow are known as the primary colors because they cannot be made by mixing other colors. When you mix two primary colors, you get a secondary color, as shown here:

* When you mix red and blue, you get purple.
* When you mix red and yellow, you get orange.
* When you mix blue and yellow, you get green.

Design a program that prompts the user to enter the names of two primary colors to mix. If the user enters anything other than “red,” “blue,” or “yellow,” the program should display an error message. Otherwise, the program should display the name of the secondary color that results.

In [27]:
usercolor1 = input("enter a primary color")
usercolor2 = input("enter another primary color")
if usercolor1 == usercolor2:
    print("choose different colors")
elif usercolor1 == "red" and usercolor2 == "yellow":
    print("the secondary color formed is orange")
elif usercolor1 == "blue" and usercolor2 == "yellow":
    print("the secondary color formed is green")
elif usercolor1 == "red" and usercolor2 == "blue":
    print("the secondary color formed is purple")
else:
    print("select only from the primary colors")

enter a primary color red
enter another primary color blue

the secondary color formed is purple

#### Q.5 Serendipity Booksellers has a book club that awards points to its customers based on the number of books purchased each month. The points are awarded as follows:

* If a customer purchases 0 books, he or she earns 0 points.
* If a customer purchases 2 books, he or she earns 5 points.
* If a customer purchases 4 books, he or she earns 15 points.
* If a customer purchases 6 books, he or she earns 30 points.
* If a customer purchases 8 or more books, he or she earns 60 points.

Write a program that asks the user to enter the number of books that he or she has purchased this month, then displays the number of points awarded.