### Finding data

function = locate 
we can write any kind of conditional statement with it

Works in both rows and columns

syntax: tablename.loc[rows(row number/range/row conditions), columnname]

Python uses & for and

Python uses | for or

In [41]:
product_table.loc[5] # shows all the record in the 5th row

ProductKey                                                             588
ProductSubcategoryKey                                                    1
ProductName                                      Mountain-400-W Silver, 40
StandardCost                                                      419.7784
Color                                                               Silver
SafetyStockLevel                                                       100
ListPrice                                                           769.49
Size                                                                  40.0
SizeRange                                                         38-40 CM
Weight                                                               26.77
DaysToManufacture                                                        4
ProductLine                                                              M
DealerPrice                                                        461.694
Class                                                                    M
ModelName                                                   Mountain-400-W
Description              This bike delivers a high-level of performance...
Status                                                             Current
SubCategory                                                 Mountain Bikes
Category                                                             Bikes
StartDate                                              2018-07-01 00:00:00
EndDate                                                                NaT
Name: 5, dtype: object

In [42]:
product_table.loc[5:10]  #shows rows from 5 to 10

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,...,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate
5,588,1,"Mountain-400-W Silver, 40",419.7784,Silver,100,769.49,40.0,38-40 CM,26.77,...,M,461.694,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
6,589,1,"Mountain-400-W Silver, 42",419.7784,Silver,100,769.49,42.0,42-46 CM,27.13,...,M,461.694,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
7,590,1,"Mountain-400-W Silver, 46",419.7784,Silver,100,769.49,46.0,42-46 CM,27.42,...,M,461.694,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
8,344,1,"Mountain-100 Silver, 38",1912.1544,Silver,100,3399.99,38.0,38-40 CM,20.35,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30
9,345,1,"Mountain-100 Silver, 42",1912.1544,Silver,100,3399.99,42.0,42-46 CM,20.77,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30
10,346,1,"Mountain-100 Silver, 44",1912.1544,Silver,100,3399.99,44.0,42-46 CM,21.13,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30

In [44]:
product_table.loc[5:10, ['ProductKey','ProductName','Color']]
#We can specify the columns as well

    ProductKey                ProductName   Color
5          588  Mountain-400-W Silver, 40  Silver
6          589  Mountain-400-W Silver, 42  Silver
7          590  Mountain-400-W Silver, 46  Silver
8          344    Mountain-100 Silver, 38  Silver
9          345    Mountain-100 Silver, 42  Silver
10         346    Mountain-100 Silver, 44  Silver

In [46]:
product_table.loc[[5,6,10,55], ['ProductKey','ProductName','Color']] 
#We can specify both rows and columns

    ProductKey                ProductName   Color
5          588  Mountain-400-W Silver, 40  Silver
6          589  Mountain-400-W Silver, 42  Silver
10         346    Mountain-100 Silver, 44  Silver
55         311           Road-150 Red, 44     Red

In [51]:
#If we only want to see the products whos color is black
product_table.loc[(product_table['Color']=='Black'), ['ProductKey','ProductName','Color']]

     ProductKey             ProductName  Color
0           362  Mountain-200 Black, 46  Black
1           363  Mountain-200 Black, 46  Black
2           364  Mountain-300 Black, 38  Black
3           365  Mountain-300 Black, 40  Black
12          348  Mountain-100 Black, 38  Black
..          ...                     ...    ...
392         537        HL Mountain Tire  Black
393         538            LL Road Tire  Black
394         539            ML Road Tire  Black
395         540            HL Road Tire  Black
396         541            Touring Tire  Black

[185 rows x 3 columns]

In [52]:
product_table.loc[(product_table['StandardCost'] <= 50), ['ProductKey','ProductName']]

     ProductKey             ProductName
125         397  LL Mountain Handlebars
126         398  LL Mountain Handlebars
127         399  ML Mountain Handlebars
128         400  ML Mountain Handlebars
129         401  HL Mountain Handlebars
..          ...                     ...
392         537        HL Mountain Tire
393         538            LL Road Tire
394         539            ML Road Tire
395         540            HL Road Tire
396         541            Touring Tire

[123 rows x 2 columns]

Q. Find those records in the data where the listprice is less than 40 and columns name should be List price, size, size range, weight

In [53]:
product_table.loc[(product_table['ListPrice'] < 40), ['ListPrice','Size','SizeRange','Weight']]

     ListPrice  Size SizeRange  Weight
144    20.2400   NaN       NaN     NaN
153    34.2000   NaN       NaN     NaN
273    27.1200   NaN       NaN     NaN
274    39.1400   NaN       NaN     NaN
276    27.1200   NaN       NaN     NaN
277    39.1400   NaN       NaN     NaN
279    27.1200   NaN       NaN     NaN
280    39.1400   NaN       NaN     NaN
317     8.6442   NaN       NaN     NaN
318     8.6442   NaN       NaN     NaN
319     8.9900   NaN       NaN     NaN
320    23.5481   NaN         S     NaN
321    24.4900   NaN         S     NaN
322    23.5481   NaN         M     NaN
323    24.4900   NaN         M     NaN
324    23.5481   NaN         L     NaN
325    24.4900   NaN         L     NaN
326    37.9900   NaN         S     NaN
327    37.9900   NaN         M     NaN
328    37.9900   NaN         L     NaN
352     9.5000   NaN         M     NaN
353     9.5000   NaN         L     NaN
354     8.9900   NaN         M     NaN
355     8.9900   NaN         L     NaN
364     4.9900   NaN       NaN     NaN
365     9.9900   NaN       NaN     NaN
366     8.9900   NaN       NaN     NaN
367     7.9500   NaN       NaN     NaN
368    21.9800   NaN       NaN     NaN
369    33.6442   NaN       NaN     NaN
370    33.6442   NaN       NaN     NaN
371    34.9900   NaN       NaN     NaN
372    33.6442   NaN       NaN     NaN
373    33.6442   NaN       NaN     NaN
374    34.9900   NaN       NaN     NaN
375    33.6442   NaN       NaN     NaN
376    33.6442   NaN       NaN     NaN
377    34.9900   NaN       NaN     NaN
379    13.9900   NaN       NaN     NaN
380    34.9900   NaN       NaN     NaN
382    25.0000   NaN       NaN     NaN
384    19.9900   NaN       NaN     NaN
385    24.9900   NaN       NaN     NaN
386     2.2900   NaN       NaN     NaN
387     4.9900   NaN       NaN     NaN
388     3.9900   NaN       NaN     NaN
389     4.9900   NaN       NaN     NaN
390    24.9900   NaN       NaN     NaN
391    29.9900   NaN       NaN     NaN
392    35.0000   NaN       NaN     NaN
393    21.4900   NaN       NaN     NaN
394    24.9900   NaN       NaN     NaN
395    32.6000   NaN       NaN     NaN
396    28.9900   NaN       NaN     NaN

In [55]:
#row 397
product_table.loc[(product_table['ProductKey'] == 397), ['ProductKey','ProductName','Color']]

     ProductKey             ProductName  Color
125         397  LL Mountain Handlebars  Black

Q. Extract all rows where product is not black and size is greater than 40 and weight is less than 50. Dsiplay all columns.

In [63]:
product_table.loc[(product_table['Color'] != 'Black') & (product_table['Size'] > 40) & (product_table['Weight'] < 50)]

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,...,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate
6,589,1,"Mountain-400-W Silver, 42",419.7784,Silver,100,769.49,42.0,42-46 CM,27.13,...,M,461.694,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
7,590,1,"Mountain-400-W Silver, 46",419.7784,Silver,100,769.49,46.0,42-46 CM,27.42,...,M,461.694,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
9,345,1,"Mountain-100 Silver, 42",1912.1544,Silver,100,3399.99,42.0,42-46 CM,20.77,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30
10,346,1,"Mountain-100 Silver, 44",1912.1544,Silver,100,3399.99,44.0,42-46 CM,21.13,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30
11,347,1,"Mountain-100 Silver, 48",1912.1544,Silver,100,3399.99,48.0,48-52 CM,21.42,...,M,2039.994,H,Mountain-100,Top-of-the-line competition mountain bike. Per...,NaN,Mountain Bikes,Bikes,2016-07-01,2017-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,506,16,"LL Touring Frame - Yellow, 44",199.8519,Yellow,500,333.42,44.0,42-46 CM,3.02,...,T,200.052,L,LL Touring Frame,Lightweight butted aluminum frame provides a m...,Current,Touring Frames,Components,2018-07-01,NaT
296,507,16,"LL Touring Frame - Yellow, 50",199.8519,Yellow,500,333.42,50.0,48-52 CM,3.10,...,T,200.052,L,LL Touring Frame,Lightweight butted aluminum frame provides a m...,Current,Touring Frames,Components,2018-07-01,NaT
297,508,16,"LL Touring Frame - Yellow, 54",199.8519,Yellow,500,333.42,54.0,54-58 CM,3.14,...,T,200.052,L,LL Touring Frame,Lightweight butted aluminum frame provides a m...,Current,Touring Frames,Components,2018-07-01,NaT
298,509,16,"LL Touring Frame - Yellow, 58",199.8519,Yellow,500,333.42,58.0,54-58 CM,3.16,...,T,200.052,L,LL Touring Frame,Lightweight butted aluminum frame provides a m...,Current,Touring Frames,Components,2018-07-01,NaT
299,510,16,"LL Touring Frame - Blue, 44",199.8519,Blue,500,333.42,44.0,42-46 CM,3.02,...,T,200.052,L,LL Touring Frame,Lightweight butted aluminum frame provides a m...,Current,Touring Frames,Components,2018-07-01,NaT

In [70]:
product_table.dropna() #deletes all rows and columns with missing values in the table

Empty DataFrame
Columns: [ProductKey, ProductSubcategoryKey, ProductName, StandardCost, Color, SafetyStockLevel, ListPrice, Size, SizeRange, Weight, DaysToManufacture, ProductLine, DealerPrice, Class, ModelName, Description, Status, SubCategory, Category, StartDate, EndDate]
Index: []

[0 rows x 21 columns]

In [71]:
product_table.drop_duplicates()  #deletes all recurring values

,ProductKey,ProductSubcategoryKey,ProductName,StandardCost,Color,SafetyStockLevel,ListPrice,Size,SizeRange,Weight,...,ProductLine,DealerPrice,Class,ModelName,Description,Status,SubCategory,Category,StartDate,EndDate
0,362,1,"Mountain-200 Black, 46",1105.8100,Black,100,2049.0982,46.0,42-46 CM,24.13,...,M,1229.4589,H,Mountain-200,Serious back-country riding. Perfect for all l...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
1,363,1,"Mountain-200 Black, 46",1251.9813,Black,100,2294.9900,46.0,42-46 CM,24.13,...,M,1376.9940,H,Mountain-200,Serious back-country riding. Perfect for all l...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
2,364,1,"Mountain-300 Black, 38",598.4354,Black,100,1079.9900,38.0,38-40 CM,25.35,...,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
3,365,1,"Mountain-300 Black, 40",598.4354,Black,100,1079.9900,40.0,38-40 CM,25.77,...,M,647.9940,M,Mountain-300,For true trail addicts. An extremely durable ...,NaN,Mountain Bikes,Bikes,2017-07-01,2018-06-30
4,587,1,"Mountain-400-W Silver, 38",419.7784,Silver,100,769.4900,38.0,38-40 CM,26.35,...,M,461.6940,M,Mountain-400-W,This bike delivers a high-level of performance...,Current,Mountain Bikes,Bikes,2018-07-01,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,537,37,HL Mountain Tire,13.0900,Black,500,35.0000,NaN,NaN,NaN,...,M,21.0000,H,HL Mountain Tire,"Incredible traction, lightweight carbon reinfo...",Current,Tires and Tubes,Accessories,2018-07-01,NaT
393,538,37,LL Road Tire,8.0373,Black,500,21.4900,NaN,NaN,NaN,...,R,12.8940,L,LL Road Tire,Same great treads as more expensive tire with ...,Current,Tires and Tubes,Accessories,2018-07-01,NaT
394,539,37,ML Road Tire,9.3463,Black,500,24.9900,NaN,NaN,NaN,...,R,14.9940,M,ML Road Tire,Higher density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT
395,540,37,HL Road Tire,12.1924,Black,500,32.6000,NaN,NaN,NaN,...,R,19.5600,H,HL Road Tire,Lightweight carbon reinforced for an unrivale...,Current,Tires and Tubes,Accessories,2018-07-01,NaT
396,541,37,Touring Tire,10.8423,Black,500,28.9900,NaN,NaN,NaN,...,T,17.3940,NaN,Touring Tire,High-density rubber.,Current,Tires and Tubes,Accessories,2018-07-01,NaT

In [77]:
product_table.drop('SafetyStockLevel', axis = 1, inplace = True) 

#columns means axis = 1, rows means axis = 0
#shows error bcz it has been run once and now there is no such column

KeyError: "['SafetyStockLevel'] not found in axis"

In [78]:
product_table.drop(2, axis = 0, inplace = True) 
#deleted row 2

To calculate correlation in the numerical columns of the table

In [80]:
product_table.corr()

C:\Users\user\AppData\Local\Temp\ipykernel_940\1315335910.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  product_table.corr()

,ProductKey,ProductSubcategoryKey,StandardCost,ListPrice,Size,Weight,DaysToManufacture,DealerPrice
ProductKey,1.000000,-0.078526,-0.132321,-0.153916,-0.125176,0.175064,0.132054,-0.155080
ProductSubcategoryKey,-0.078526,1.000000,-0.575974,-0.572342,0.155350,0.144301,-0.849919,-0.572399
StandardCost,-0.132321,-0.575974,1.000000,0.995027,-0.111950,-0.222499,0.684258,0.996855
ListPrice,-0.153916,-0.572342,0.995027,1.000000,-0.139384,-0.216838,0.671287,1.000000
Size,-0.125176,0.155350,-0.111950,-0.139384,1.000000,-0.036433,-0.098775,-0.135897
Weight,0.175064,0.144301,-0.222499,-0.216838,-0.036433,1.000000,-0.165656,-0.217816
DaysToManufacture,0.132054,-0.849919,0.684258,0.671287,-0.098775,-0.165656,1.000000,0.671687
DealerPrice,-0.155080,-0.572399,0.996855,1.000000,-0.135897,-0.217816,0.671687,1.000000