## Basic keywords practice

### Print keyword
Print is a built in function in python.

In [1]:
print ("name")

name

In [4]:
print (2+5)

7

In Python there is no distinction between '' and "" - in one statement one pair can be used only once

In [6]:
print ('my name is "Ali" and I live in "Lahore"')

my name is "Ali" and I live in "Lahore"

Can use arithmetics to adjust output:

print(3 * "Ali ")

### Variables
There can be no space in the variable name

In [36]:
#variable declaration
a = 5
b = 10
Name = "Mia"

In [37]:
print (a, b, Name)
print (a+b)
print ("my name is:", Name)

5 10 Mia
15
my name is: Mia

Can simply write the name of the variable and press run to get its value

In [44]:
a

5

### Data Types
The type of data that computer/python understands
There are 4 types of data in python:
* int
* float (decimals)
* str (text) must be written with ""
* bool (1|0)

The function type() outputs the type of data given to it

In [26]:
type(3)

int

In [27]:
type(45.65)

float

In [29]:
type("sara")

str

In [33]:
type(True)

bool

### Taking Input
By default input is always in str. We have to convert it to other data types to do arithmetic or other procedures

In [38]:
input ("please enter your name: ")

please enter your name:  Samiha

'Samiha'

In [39]:
input ("input a number between 1 and 100")

input a number between 1 and 100 90

'90'

In [40]:
cgpa = input("please enter you cgpa")

please enter you cgpa 3.4

In [41]:
print(cgpa)

3.4

### Q1. Make an application form for students collecting there full name, address, marks in olevels/matric

In [43]:
Fullname = input("Please enter your full name: ")
Adress = input("Please enter your home address: ")
Marks = input("Please enter your olevels grades or matric scores: ")

Please enter your full name:  Samiha Hamid
Please enter your home address:  1066, umer block, bahria town lahore
Please enter your olevels grades or matric scores:  7 A*s and 2 As

### Data type conversion
Write any data type with () and it will convert the data type of the data in the bracket
e.g int() will turn anything in bracket into int
Can happen with everything accept boolean

In [45]:
int(6.7)

6

In [46]:
int("56")

56

In [48]:
float(7)

7.0

In [49]:
str(79362075)

'79362075'

### Q2. Take two inputs from the user, distance and time, and then calculate and output speed

In [52]:
distance = float(input("Please enter the distance covered in kms: "))
time = float(input("Please enter the time taken in hours: "))
print("Speed = ", distance/time)

Please enter the distance covered in kms:  76
Please enter the time taken in hours:  2.3

Speed =  33.04347826086957

### Q3. Print the sum of any three numbers

In [53]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
print("Sum of all three numbers = ", a+b+c)

Enter first number:  3
Enter second number:  4
Enter third number:  5

Sum of all three numbers =  12.0

### Q4. A company has determined that its annual profit is typically 23 percent of total sales. Write a program that asks the user to enter the projected amount of total sales, then displays the profit that will be made from that amount.

In [55]:
Project_sales = float(input("Please enter the projected amount of total sales: "))
print("Profit: ", (23/100)*Project_sales)

Please enter the projected amount of total sales:  100

Profit:  23.0